.customCheckbox {
  :global {
    .ant-checkbox-inner {
      background-color: var(--gray-color-2);
      border-color: var(--gray-color-2);
      height: 24px;
      width: 24px;
    }

    .ant-checkbox-checked .ant-checkbox-inner {
      background-color: var(--gray-color-2);
      border-color: var(--gray-color-2);
    }

    .ant-checkbox-checked .ant-checkbox-inner::after {
      border: 2px solid var(--accent-color-1);
      border-top: 0;
      border-left: 0;
      width: 9px;
      height: 13px;
      top: 48%;
    }
  }
}
