.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font: var(--font-btn-mid);
  color: var(--white-color);
}

.infoTitle {
  font: var(--font-title-2);

  @media screen and (max-width: 450px) {
    font-size: 35px;
  }
}

.infoSubtitle {
  font: var(--font-text-3);
  opacity: 0.5;
  text-align: left;
}

.modal {
  :global {
    .ant-modal-body {
      padding-bottom: 160px;
    }
  }
}
