.finished {
  font: var(--font-btn-small);
  display: flex;
  align-items: center;
  margin-top: 9px;
  margin-bottom: 39px;

  @media screen and (max-width: 767px){
    margin-bottom: 30px;
  }
}

.finishedIcon {
  margin-right: 8px;
}

.redeemBlock {
  margin-top: 32px;
  max-width: 350px;
  height: 80px;
  border: 1px solid var(--gray-color-3);
  display: flex;
  align-items: center;
}

.redeemImg {
  height: 80px;
  width: 80px;
  margin-left: -1px;
  background-color: var(--gray-color-1);
  background-position: center;
  background-size: cover;
}

.redeemBtn {
  margin: 16px;
  background-color: var(--yellow-color);
  border: none;
  height: auto;
  padding: 0;
  flex-grow: 1;
  align-self: stretch;
  justify-content: center;
}

.buyoutControls {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.buyout__connectWalletBtn {
  font: var(--font-btn-small);
  max-width: 180px;
  min-height: 100%;
}

.buyout__buyoutBtn {
  min-height: 100%;
  padding-top: unset;
  padding-bottom: unset;
  height: 88px;

  @media screen and (max-width: 450px) {
    width: 100%;
    display: block;
  }
}

.loader {
  margin-top: 16px;
}