.content {
  padding-bottom: 64px;
}

.wrapper {
  display: flex;
  margin-top: 23px;
  position: relative;

  @media screen and (max-width: 1200px) {
    margin-top: 10px;
  }
}

.contentWrapper {
  padding-top: 64px;
  padding-left: 20px;
}

.title {
  font: var(--font-title-2);
  margin-bottom: 32px;
}

.searchSortWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.search {
  min-width: 328px;
  width: auto;
  padding: 0;

  > input {
    font: var(--font-text-3);
  }
}

.vaultsAmount  {
  margin-left: auto;
  margin-right: 20px;
  white-space: nowrap;
  font: var(--font-text-3);
  color: var(--color-gray-4);
}

.filters {
  display: flex;
  align-items: center;
  gap: 12px 36px;
  flex-wrap: wrap;
}

.filter {
  width: unset;
}

.arrowUp,
.arrowDown {
  position: relative;
  top: 2px;
  path {
    stroke: var(--white-color);
  }
}

.arrowDown {
  transform: rotate(180deg);
}

.sortingSelectValueContainer {
  white-space: nowrap;
  svg {
    position: relative;
    top: 2px;
    path {
      stroke: var(--accent-color-1);
    }
  }
}

.filtersWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  gap: 120px;

  @media screen and (max-width: 550px) {
    flex-wrap: wrap;
    gap: 30px;
    grid-gap: 24px;
    margin-top: 24px;

    .filters {
      order: 1;
    }
  }
}
